/*
light blue =	#96d8eb

*/

body {
   /* padding-top: 60px;*/ /* 60px to make the container go all the way to the bottom of the topbar */
    background-color: #96d8eb;
    width: 1020px;
    margin: 0 auto;
    min-height: 1020px;
}

a, a:hover {
	text-decoration: none;
}
.container {
	width: 900px;
}

.logo {
	float:left;
}

#sign {
	margin-left: 175px;
	padding-bottom: 5px;
}

.login {
	padding-top: 40px;
	float: right;
}

.login input {
	border: none;
	border-radius: 0;
	width: 100px;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

.img-circle {
	background-color: green;
}

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-caption {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin-bottom: 400px;
}
.carousel-caption .lead {
	padding-top: 35px;
	text-align: center;
}

.carousel .signupBtn {
	padding: 10px 10px 0 10px;
	text-align: center;
	vertical-align: middle;
}

.carousel .signupBtn a {
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.signupBtn a:hover {
	background-color: #3dc6f3;
	text-decoration: none;
}

.signup {
	max-width: 218px;
}

.signup form input {
	display: block;
	border: none;
	border-radius: 0px;
	height: 50px;
}

/* Style form placeholder text */
.signup form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #959595;
    font-size: 2.00em;
    font-family: 'Candara', sans-serif;
}
.signup form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #959595;
    font-size: 2.00em;
    font-family: 'Candara', sans-serif;
}
.signup form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #959595;
    font-size: 2.00em;
    font-family: 'Candara', sans-serif;
}
.signup form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #959595;
    font-size: 2.00em;
    font-family: 'Candara', sans-serif;
}

.container img {
	display: block;
}

.signupBtn {
	height: 50px;
	background-color: #43c0df;
	border: none;
	font-weight: bold;
	font-size: 1.8em;
	color: #f2f2f2;
	float: right;
	margin-bottom: 15px;
}


/*---------Project Page---------*/
header {
	background: url('../img/head.jpg') no-repeat;
	max-width: 960px;
}

header a {
	text-transform: uppercase;
	font-family: 'Candara', sans-serif;
	font-size: 18px;
	float: right;
	color: #dbdbdb;
	padding-right: 10px;
	margin-top: 30px;
}

/* search config */
.lSide-content {
	max-width: 185px;
	float: left;
	margin-left: 15px;
}

.search-query {
	width: 200px;
	height: 42px;
	font-size: 21px;
}

.input-append button.add-on {
    height: inherit !important;
}

.title h1 {
	font-family: 'Bebes Neue', sans-serif;
	font-size: 42px;
	color: #5a5a5a;
	text-transform: uppercase;
	margin-left: 220px;
}

.projectDetails {
	max-width: 720px;
	float: left;
	margin-left: 20px;
}

.projContainer {
	max-width: 960px;
	background-color: #fff;
	min-height: 1020px;
}

/*---------Edit Task---------*/

/*---------Add Project Page---------*/
.addtitle {
	margin-top: 10px;
	background-color: #d8d8d4;
	padding: 5px;
	max-width: 300px;
}

.addtitle h1 {
	color: #393C3A;
	margin-left: 20px;
}

.addProject {
	max-width: 500px;
	margin: 0 auto;
	padding-top: 15px;
}

.addProject input {
	display: inline;
}

.block {
	display: block;
}

/*---------Add Task Page---------*/